* {
  margin: 0;
  padding: 0;
}

.container {
  background: #000;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
}

.image img{
  width: 50vw;
  height: 100vh;
}


.wrapper {
  width: 40vw;
  height: 45vh;
  margin: auto;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
}

h1 {
  flex-wrap: wrap;
  font-size: 50px;
  font-weight: 700;
  color: #445A6F;
  margin: 40px 0;
}

p{
  flex-wrap: wrap;
  color: grey;
}

input {
  margin: 20px 0;
  width: 300px;
  padding: 8px;
}

a{
  flex-wrap: wrap;
  background-color: #fff;
  color: blue;
}

input:focus-visible {
  outline: none;
}

button {
  width: 150px;
  height: 40px;
  border-radius: 5px;
  background-color: #445A6F;
  border: 1px solid #445A6F;
  color: #fff;
  font-size: 20px;
  margin: 30px 0;
}

@media screen and (max-width:1200px) {
  .container{
    display: block;
  }

  .image img{
    width: 100vw;
    height: 50vh;
  }
  .wrapper{
    width: 70vw;
  }
}